.surpresa {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgb(55, 79, 145) 44%);
    transition: all 0.4s ease;
}

.surpresa .card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.surpresa .sidebar {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgb(16, 27, 58) 44%);
}

.surpresa a {
    color: #ffbb00;
}

.foto-container {
    width: 160px;
    height: 160px;
    perspective: 1000px;
    margin-bottom: 15px;
}

.foto-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.foto-frente,
.foto-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
}

.foto-verso {
    transform: rotateY(180deg);
}

.foto-container.virar .foto-inner {
    transform: rotateY(180deg);
}